* {
  font-family: "Inconsolata", sans-serif;
  margin: 0px;
  height: 10000px;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: block;
  height: 50px;
  padding: 5px;
  background-color: black;
}
.linkovi {
  width: 24%;
  background-color: black;
  height: 50px;
  display: inline-block;
  color: #fff;
}
.linkovi:hover {
  background-color: rgb(216, 216, 216);
  color: black;
}
.tekst {
  position: fixed;
  top: 20px;
}
.home {
  left: 160px;
}
.about {
  left: 510px;
}
.menu {
  left: 870px;
}
.where {
  left: 1220px;
}
.mainimg {
  width: 100%;
  height: 900px;
  filter: grayscale(50%);
}
.slika1 {
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.time {
  position: relative;
  z-index: 1;
  left: 20px;
  bottom: 10px;
  color: black;
  font-size: 20px;
}
.bgimg {
  background-image: url(https://www.w3schools.com/w3images/coffeehouse.jpg);
  background-position: center;
  background-size: cover;
  min-height: 770px;
}
