* {
  font-family: "Inconsolata", sans-serif;
  margin: 0px;
  box-sizing: inherit;
  height: 100%;
}
a {
  color: white;
  text-decoration: none;
}
.navigacija {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: block;
  height: 50px;
  padding: 5px;
  background-color: black;
}
.linkovi {
  width: 24%;
  background-color: black;
  height: 50px;
  display: inline-block;
  color: #fff;
}
.linkovi:hover {
  background-color: rgb(216, 216, 216);
  color: black;
  cursor: pointer;
}
.tekst {
  position: relative;
  top: 20px;
  height: 20px;
  left: 150px;
}
.mainimg {
  width: 100%;
  height: 613px;
  filter: grayscale(50%);
}
.time {
  position: absolute;
  left: 0px;
  bottom: 8px;
  color: white;
  padding: 12px;
  text-align: center;
  height: 10px;
}
.bgimg {
  background-image: url(https://www.w3schools.com/w3images/coffeehouse.jpg);
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  min-height: 70vh;
}
.vrijeme {
  background-color: black;
  height: 19px;
  width: 180px;
}
.name {
  font-size: 90px;
  text-align: center;
  position: absolute;
  left: 44%;
  top: 40%;
  color: white;
}
.lokacija {
  position: absolute;
  bottom: 15px;
  right: 10px;
  color: white;
  height: 20px;
}
.containera {
  padding: 0.01cm 16px;
  color: #000;
  background-color: #fdf5e6;
}
.about {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
.abouth {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.abouts {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  height: 27px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-bottom: 4px;
}
