body,
html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
* {
  margin: 0px;
  box-sizing: inherit;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.navigacija {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: block;
  height: 50px;
  padding: 5px;
  background-color: black;
}
.linkovi {
  width: 24%;
  background-color: black;
  height: 50px;
  display: inline-block;
  color: #fff;
}
.linkovi:hover {
  background-color: rgb(216, 216, 216);
  color: black;
  cursor: pointer;
}
.tekst {
  position: relative;
  top: 15px;
  height: 20px;
  left: 150px;
}
.mainimg {
  width: 100%;
  height: 613px;
  filter: grayscale(50%);
}
.time {
  position: absolute;
  left: 0px;
  bottom: 35px;
  color: white;
  padding: 12px;
  text-align: center;
  height: 10px;
}
.pozadina {
  background-image: url(https://www.w3schools.com/w3images/coffeehouse.jpg);
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  min-height: 70vh;
}
.vrijeme {
  position: absolute;
  left: 22px;
  bottom: -40px;
  background-color: black;
  height: 20px;
  width: 160px;
  font-size: 15px;
  padding-top: 2px;
}
.name {
  font-size: 90px;
  text-align: center;
  position: absolute;
  left: 43%;
  top: 40%;
  color: white;
}
.lokacija {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  height: 20px;
}
.containera {
  padding: 0.01cm 16px;
  color: #000;
  background-color: #fdf5e6;
  filter: grayscale(70%);
}
.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
.abouth {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  height: 28px;
}
.abouts {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  height: 27px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-bottom: 4px;
}
.h {
  height: fit-content;
}
.aboutq {
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: 6px solid #ccc;
  color: #000;
  background-color: #f1f1f1;
  padding: 0.01em 16px;
}
.italic {
  font-style: italic;
}
.slika1 {
  width: 100%;
  max-width: 1000px;
  filter: grayscale(0);
}
.bold {
  font-weight: bolder;
}
.containerm {
  padding: 0.01em 16px;
}
.food-drinks {
  padding: 8px 16px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  height: 20px;
}
.food {
  width: 49%;
  height: 90%;
  float: left;
  background-color: #616161;
  color: white;
  padding-top: 0px;
  font-size: 20px;
  margin-bottom: 5px;
}
.drink {
  float: right;
  background-color: white;
  color: black;
}
.food:hover {
  cursor: pointer;
}
.contmeni {
  display: block;
  padding: 0.01em 16px;
  padding-top: 48px;
  padding-bottom: 48px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  text-align: left;
}
.imeartikla {
  font-size: 19px;
}
.sivo {
  color: #757575;
}
.slika2 {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  max-width: 735px;
}
.tkst {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}
.input {
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
  border: 1px solid #ccc;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 20px;
}
.tkst2 {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.filler {
  height: 100px;
}
